* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' 'Sans Serif';
}

#navigation {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 3.125em 0;
}

.navbar-brand {
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-item {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 3.125em;
}

.nav-link {
    color: #ccc !important;
    letter-spacing: 0.125em;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover {
    background: #dcdde1 !important;
    z color: #262626 !important;
    border-radius: 0.3125;
    transition: all 0.6s ease 0s;
}

#hal1 {
    position: relative;
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url(./assets/images/main-bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title-info {
    margin-top: 30rem;
    font-size: 5rem;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.25em;
}

.page1 p {
    margin-top: 1em;
    padding: 0;
    font-size: 16;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3125em;
    padding-bottom: 2.5em;
}

.page1 a {
    letter-spacing: 0.125px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1.25;
}

#footer1 {
    margin-top: 30em;
    color: white;
}

.page2 {
    position: relative;
    background-image: url(./assets/images/the-games-bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.contain {
    padding-top: 10%;
}

.container-dua {
    size: 70%;
}

#fitur h4 {
    padding-left: 6.25em;
    color: #fff;
}

#fitur h1 {
    padding-left: 6.25em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#carouselku {
    size: 50%;
    padding-top: 6.25em;
    margin-left: -140px;
}

.carousel-item {
    text-align: center;
    padding-bottom: 12.5em;
}

.carousel-indicators li {
    height: 1rem !important;
    width: 2rem !important;
    border-radius: 50% !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.carousel-indicators button {
    margin-top: -240px;
    width: 0.5rem !important;
    height: 0.5rem !important;
}

.carousel-control-next {
    margin-right: -4rem;
}

.carousel-control-prev {
    margin-le: -4rem;
}

.page3 {
    position: relative;
    background-image: url(./assets/images/features.jpg);
    radial-gradient(circle at right, #000, transparent),
    radial-gradient(circle at center, rgba(255, 255, 255, 0), transparent),
    radial-gradient(circle at left, rgba(0, 0, 0, 0.527), transparent),
    radial-gradient(ellipse at bottom, rgb(8, 8, 8), transparent),
    url('../img/bg-3.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.timeline {
    padding-left: 6.25em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 1.25px;
}

.timeline h2 {
    font-size: 24pt;
    color: #ff9900;
}

.contain3 {
    padding-top: 10%;
}

.feature {
    color: #fff;
}

.feature h1 {
    font-size: 48pt;
    text-transform: uppercase;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #111;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.page4 {
    position: relative;
    background-image: url(./assets/images/requirements.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.headerspec {
    padding-top: 5%;
}

.page4 h1 {
    font-size: 34pt;
}

.page4 h2 {
    color: #ff9900;
}

.page4 p {
    padding: -10px;
}

.contention {
    padding-left: 120px;
}

.systemrequirements {
    font-size: 12pt;
    padding-top: 5%;
    padding-left: 7.5em;
    padding-right: 67.5em;
}

#info_table_wrap {
    padding-top: 5%;
    border: 0.625em solid black;
}

.info_table {
    border-right: 0.625em solid white;
    border-left: 0.625em solid white;
    border-top: 0.625em solid white;
    border-bottom: 0.625em solid #fff;
}

.page5 {
    position: relative;
    background-image: url(./assets/images/topscores.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.topscore {
    margin: 20rem 0px 0px 3.125rem;
    font-family: Arial, Helvetica, sans-serif;
}

.topscores {
    font-size: 5rem;
    letter-spacing: 0.3125rem;
    font-weight: bold;
}

.infotex {
    font-size: 2rem;
    padding: 1.56rem 0px 1.56rem 0px;
}

.tombol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    padding: 20px 100px 20px 100px;
}

.page6 {
    background-color: black;
}

#subkrebsen {
    margin-top: 190px;
}

.form-control::placeholder {
    color: orange;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

#subkreb {
    margin-top: 32px;
    height: 40px;
}

#kaki {
    background-color: #000;
    color: #fff;
}

#kaki a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

html {
    overflow-x: hidden;
}